<h1>{{title}}</h1>

<h2>Create Property</h2>
<form id="addForm">
  <table>
    <tr>
      <td>PropertyId</td>
      <td><input id="propertyId" type="text" /></td>
    </tr>
    <tr>
      <td>Make</td>
      <td><input id="make" type="text" /></td>
    </tr>
    <tr>
      <td>Model</td>
      <td><input id="model" type="text" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input id="place" type="text" /></td>
    </tr>
    <tr>
      <td>Date of Buy</td>
      <td><input id="dateOfBuy" type="text" /></td>
    </tr>
    <tr>
      <td>Buyer Name</td>
      <td><input id="buyerName" type="text" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button onclick="addData(event)">Create Property</button>
        <button type="reset">Clear</button></td>
    </tr>
  </table>
</form>

<h2>Query Property</h2>
<form id="readForm">
  <table>
    <tr>
      <td>Enter PropertyId</td>
      <td>
        <input id="propertyIdInput" type="text" />
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" onclick="readData(event)">Query Property</button>
        <button type="reset">Clear</button>
      </td>
    </tr>
  </table>
</form>